@import '@/presentation/core/variables.module.scss';

.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: $size-18;
  border: none;
  border-radius: $size-4;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &[aria-busy='true'] {
    cursor: progress;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.primary {
  background-color: $secondary-color;
  color: white;

  &:not([aria-busy='true']):hover {
    background-color: darken($secondary-color, 10%);
  }

  &:not([aria-busy='true']):active {
    background-color: darken($secondary-color, 15%);
  }

  &[aria-busy='true']::before {
    background-color: darken($secondary-color, 15%);
  }
}

.secondary {
  background-color: $neutral-tertiary-color;
  color: $neutral-primary-color;

  &:not([aria-busy='true']):hover {
    background-color: darken($neutral-tertiary-color, 10%);
  }

  &:not([aria-busy='true']):active {
    background-color: darken($neutral-tertiary-color, 15%);
  }

  &[aria-busy='true']::before {
    background-color: rgba(darken($neutral-tertiary-color, 15%), 0.5);
  }
}

.medium {
  font-size: $size-16;
}

.large {
  font-size: $size-24;
}

.is-full {
  width: 100%;
}
