@import '@/presentation/core/functions.module.scss';
@import '@/presentation/core/variables.module.scss';
@import '@/presentation/core/layout.module.scss';

.product {
  padding: $size-16 0;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  &:not(:last-of-type) {
    border-bottom: convert-px-to-rem(1px, $base-font-size) solid
      $neutral-tertiary-color;
  }
}
