@import './variables.module.scss';
@import './functions.module.scss';

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $size-20;
}

.grid {
  width: 100%;
  display: grid;
  gap: $grid-gap;
  grid-template-columns: repeat($grid-columns, 1fr);

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat($grid-columns-md, 1fr);
  }
}

.suspense {
  width: 100%;
  border-radius: $size-4;
  animation: loading 1s infinite alternate;
}

.content-wrapper {
  @extend .container;
  @extend .grid;

  grid-template-areas: '#{repeat-term('content-area', 4)}';

  @media (min-width: $breakpoint-md) {
    grid-template-areas: '. #{repeat-term('content-area', 10)} .';
  }
}

.content-area {
  grid-area: content-area;
  background-color: $neutral-light;
  border-radius: $size-4;
  padding: $size-16;
  margin-top: $size-16;
}

@keyframes loading {
  0% {
    background-color: $neutral-tertiary-color;
  }
  100% {
    background-color: lighten($neutral-tertiary-color, 5%);
  }
}
