@import './functions.module.scss';

/**
 * Base font definitions
 */
$base-font-size: 16px;

/**
 * Colors
 */
$primary-color: #ffe600;
$secondary-color: #3483fa;
$neutral-primary-color: #333333;
$neutral-secondary-color: #999999;
$neutral-tertiary-color: #eeeeee;

/**
 * Sizes
 */
$size-0: convert-px-to-rem(0px, $base-font-size);
$size-2: convert-px-to-rem(2px, $base-font-size);
$size-4: convert-px-to-rem(4px, $base-font-size);
$size-6: convert-px-to-rem(6px, $base-font-size);
$size-8: convert-px-to-rem(8px, $base-font-size);
$size-10: convert-px-to-rem(10px, $base-font-size);
$size-12: convert-px-to-rem(12px, $base-font-size);
$size-14: convert-px-to-rem(14px, $base-font-size);
$size-16: convert-px-to-rem(16px, $base-font-size);
$size-18: convert-px-to-rem(18px, $base-font-size);
$size-20: convert-px-to-rem(20px, $base-font-size);
$size-22: convert-px-to-rem(22px, $base-font-size);
$size-24: convert-px-to-rem(24px, $base-font-size);

/**
* Layout
*/
$grid-columns: 4;
$grid-columns-md: 12;
$grid-gap: $size-20;
$container-width: convert-px-to-rem(1748px, $base-font-size);

/**
* Breakpoints
*/
$breakpoint-sm: convert-px-to-rem(576px, $base-font-size);
$breakpoint-md: convert-px-to-rem(768px, $base-font-size);
$breakpoint-lg: convert-px-to-rem(992px, $base-font-size);
$breakpoint-xl: convert-px-to-rem(1200px, $base-font-size);
