@import '@/presentation/core/variables.module.scss';

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: $size-16;
  line-height: $size-20;
  padding: $size-18 $size-20;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &::placeholder {
    color: $neutral-secondary-color;
  }

  @media (min-width: $breakpoint-md) {
    font-size: $size-18;
    line-height: $size-22;
  }
}

.button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
